#hero{
  height: 600px;
}
#cta-content{
  h1,h2,h3,h4,h5,h6,p{
    color: white;
    text-shadow: 0px 3px 3px #000;
  }
  .head{
    margin-top: 15em;
  }
  .sub-head{
    margin-top: 15px;
    font-weight: 300;
    line-height: 1.5em;
  }
}
.image-white{
  h2,p{
    color: white !important;
  }
}
.page-id-194{
  #hero{
    height: 100vh !important;
  }
}
