/* == GLOBAL STYLES ---- MAIN COLOR #3ABEA6($brand-primary) ---- == */
// Grey #6d6e72 for headline color
// Grey #6b6b6b for lead text color


*::selection{
    color: $brand-primary !important;
}
*::-moz-selection{
    color: $brand-primary !important;
}
body{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  line-height: 1.2em;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.2em;
  color: #6d6e72;
  margin-bottom: .25em;
  font-weight: 500;
}
h1{
  font-size: 4em;
}
h2{
  font-size: 3em;
}
h3{
  font-size: 2.5em;
}
h4{
  font-size: 2em;
}
h5{
  font-size: 1.5em;
}
p{
  font-size: 1.2em;
  line-height: 1.85em;
  color: #6b6b6b;
  font-weight: 300;
}
ul,ol{
      margin: 1.5em 0;
  li{
    line-height: 1.75em;
    font-size: 1.2em;
    color: #6b6b6b;
  }
}
@media screen and(max-width:1025px){
  body{
    font-size:.9em;
  }
  h1{
    font-size: 2.5em !important;
  }
  h2{
    font-size: 2em !important;
  }
  h3{
    font-size: 1.5em !important;
  }
  h4{
    font-size: 1.2em !important;
  }
  h5{
    font-size: 1em !important;
  }
}
