.page-template-our-team{
  #hero {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 400px;
      width: 100%;
      background: rgba(0,0,0, .4);

    }
  }
  #cta-content {
    .head *, .head {
      z-index: 3;
    }
  }
  .head {
    margin-top: 12em !important;
  }
  .our-team-hero{
    padding-top: 6.4em;
  }
  .staff-wrap{
    padding: 3em 0;
  }
  h4{
    margin-top: 1rem;
  }
  .staff-member{
    margin-top: 2rem;
    a{
      text-decoration: none;
    }
    .staff-image{
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    // .staff-title{
    //   padding: 0 4em;
    // }
    &:hover .staff-image::before{
      opacity: 1;
    }
  }
  .hidden-sm-up{
    a{
      padding: 8px 20px;
      font-size: 1rem;
      background: #3abea6;
      color: #fff;
      border-radius: 5px;
      &:focus, &:active, &:hover {
        outline: none;
      }
    }
  }
}

@media screen and (max-width:1440px){
  .page-template-our-team{
    .leadership-bio{
      padding: 2.25em;
    }
    // .staff-title{
    //   padding: 0 1em;
    // }
  }
}

@media screen and (max-width:1330px){
.page-template-our-team .staff-image::before{
    content: '' !important;
  }
}
@media screen and (max-width:768px){
  .page-template-our-team{
    .staff-member{
      margin-top:2.5em;
    }
    .clinical-staff,.therapist,.case-manager,.client-services{
      padding: 0 !important;
      margin: 3em 0;
    }
    #our-team section:nth-of-type(even){
      background: #fff !important;
    }
  }
}
@media screen and (max-width:576px){
  .our-team-hero .col-lg-9:nth-of-type(odd), .our-team-hero .col-lg-3:nth-of-type(even){
    background: #fff !important;
  }
}

@media screen and (max-width:1024px) {
  body.our-team #hero:after {
    height: 250px !important;
  }

  body.our-team .head {
    margin-top: 9em !important;
  }

  .staff-wrap {
    padding: 0 !important;
  }
}
