

/*===== SERVICES PAGE ===== */


.services-list{
  list-style-type: none;
  margin-top: 3em;
  li{
    margin-bottom: 1em;
  }
  i{
    color: $brand-primary;
  }
}
.services-quote{
  padding-left: 40px;
  margin-top: 2em;
  h5{
    line-height: 2em;
    font-weight: 300;
    &:before{
      content: open-quote;
      color: $brand-primary;
    }
    &:after{
      content: close-quote;
      color: $brand-primary;
    }
  }
  small{
    &:nth-of-type(odd){
      color: $brand-primary;
      font-size: 100%;
    }
    &:nth-of-type(even){
      &:before{
        content: '- ';
      }
    }
  }
}
