

/*===== SERVICES PAGE ===== */


.services-list{
  list-style-type: none;
  margin-top: 3em;
  li{
    margin-bottom: 1em;
  }
  i{
    color: $brand-primary;
  }
}
.services-quote{
  padding-left: 40px;
  margin-top: 2em;
  h5{
    line-height: 2em;
    font-weight: 300;
    &:before{
      content: open-quote;
      color: $brand-primary;
    }
    &:after{
      content: close-quote;
      color: $brand-primary;
    }
  }
  small{
    &:nth-of-type(odd){
      color: $brand-primary;
      font-size: 100%;
    }
    &:nth-of-type(even){
      &:before{
        content: '- ';
      }
    }
  }
}

/*===== FORMS PAGE ====*/

.page-id-194{
  #hero{
    height: 100vh !important;
  }
  .download-wrap{
    .col-xs-4:nth-of-type(2){
      margin: 0 2em 0 2em;
    }
  }
}
@media screen and (max-width:1024px){
  .page-id-194{
    #hero{
      height: 100% !important;
    }
    .download-wrap{
      .col-xs-4:nth-of-type(2){
        margin: 0 10px 0 10px;
      }
    }
  }
}
